$base-color: #be1313;
$base-color-transparent: rgba(190, 19, 19, 0.6);
$bright-red: #f30604;
$orange: #f88d11;
$yellow-orange: #ffb606;
$yellow: #ffcc00;

$darkgrey: #666666;
$grey: #d2d2d2;
$lightgrey: #f6f6f6;
$whitegrey: #fafafa;

$main-padding: 10px;

$nav-bar-height: 55px;
$sub-nav-height: 30px;
$modal-width: 90%;
$main-button-height: 50px;

$radius: 3px;