$base-color: #be1313;
$bright-red: #f30604;
$orange: #f88d11;
$yellow-orange: #ffb606;
$yellow: #ffcc00;

$darkgrey: #666666;
$lightgrey: #f6f6f6;

$nav-bar-height: 55px;
$sub-nav-height: 30px;
$modal-width: 90%;
$main-button-height: 50px;

$radius: 3px;