@import '_custom_vars';

.note {

  margin: 10px;
  padding: 10px;
  border-radius: $radius;

  img {
    display: block;
    width: 100%;
    opacity: 0.6;
  }

  p {
    line-height: 18px;
    padding-top: 10px;
  }

  .fa-spin {
    font-size: 20px;
  }

}