html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
		overflow:hidden;
}

.main-div {
		overflow:hidden;
}

#directions-panel {
    height: 55%;
    width: 100%;
    overflow: auto;
		box-sizing: content-box;
}

#map-canvas {
    height:45%;
		width:100%;
}

#transport-icons{
    width:65px;
		margin: 0 4% 0 4%;
    background:none;
		border:none;
		height:100%;
		cursor:pointer;
		display:inline-block;
		box-sizing: border-box;
}

.main-buttons label img{
		height: 28px;
}

input[type="radio"] {
    display: none;
}

#directions-panel table tbody tr td{
    width:0px;
		position: relative;
		display: table-cell;
		vertical-align: inherit;
		padding:0px;

    // This is to re-plicate the table-headers for mobile
    &::before {
      display:none;
    }
}