@import '_custom_vars';

.main-div {
  padding: 7px 7px 0px 0px;
}

.food-item {
  width: 47.5%;
  margin: 0px 0px 7px 8px;
  display: inline-block;

  .food-photo img {
    border-radius: $radius $radius 0px 0px;
    width: 100%;
  }

  .info {

    padding: 5px;
    line-height: 16px;

    .name {
      height: 40px;
    }

    .more {
      text-align: right;
      margin: 2px;
    }

    .more > div {
      display: inline-block;
    }

  }

}