@import '_custom_vars';

$icon-height: 47px;

.main-div {
  overflow: hidden;
}

.food-container {
  position: relative;
}

#food-photo, #food-photo2 {

  position: relative;

  img {
    width: 100%;
    position: absolute;
  }

  z-index: 2;

}

#food-photo2 {
  z-index: 1;
}

.info {
  padding: 7px;
  width: 100%;
  background: rgba(0,0,0,0.5);
  color: white;
  position: absolute;
  bottom: 0px;
  z-index: 3;

  .name {
    font-weight: 400;
    font-size: 18px;
  }

  .restaurant-name {
    font-size: 17px;
    font-weight: 400;
    font-style: italic;
    color: $yellow-orange;
  }

  .stats {
    float: right;
    font-size: 17px;
  }

  .price {
    text-align: right;
    display: inline-block;
    font-weight: 400;
  }
}

.instructions {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,0.5);
  color: white;
  z-index: 4;
  display: none;

  img {

  }

  .dismiss-button {
    position: absolute;
    bottom: 70px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 50%;
    border: 1px solid white;
    padding: 5px;
    text-align: center;
    border-radius: $radius;
  }

}

.stamp {
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  z-index: 4;
  display: none;
  transition: 0.2s ease;
}

.stamp.displayed {
  display: inline;
}

.controls {

  width: 100%;
  text-align: center;

  .circle {
    height: $icon-height;
    width: $icon-height;
    line-height: $icon-height + 5px;
    background: $base-color-transparent;
    padding: 3px;
    margin: 5px;
    border-radius: 1000px;
    color: white;
    text-align: center;
    display: inline-block;
    transition: background 0.2s ease;
  }

  .circle.clicked {
    background: $yellow-orange-transparent;
  }

}

/* hide the sort filters */
.filter-group:first-child {
  display: none;
}

/* hide the liked and disliked filters */
.other-filters .filter-icon:first-child, .other-filters .filter-icon:nth-child(6) {
  display: none !important;
}