@import '_custom_vars';

$thumbnailheight: 35px;

.person-item {

  padding: 8px;
  border-bottom: $grey solid 1px;

  .photo {
    width: 20%;
    float: left;

    img {
      border-radius: 100px;
    }

  }

  .name {
    font-weight: 400;
    line-height: 34px;
  }

  .info {
    width: 80%;
    padding-left: 10px;
    float: right;
  }

  .follow-button {
    float: right;
    font-size: 14px;
    font-weight: 300;
    padding: 3px 12px;
    clear: both;
  }

  .reviews {

    img {
      width: $thumbnailheight;
      border-radius: $radius;
    }

  }

}

.user-thumbnail {
  width: 38px;
}

.person-item::after {
  content: "";
  display: table;
  clear: both;
}