@import '_custom_vars';

.restaurant-item {

  position: relative;
  width: 100%;

  .photo {

    height: 200px;
    overflow: hidden;

    img {
      width: 100%;
    }

    .get-there-button, .follow-button {
      margin: 15px;
      position: absolute;
      top: 0px;
      right: 0px;
    }

  }

  .info {

    background: white;
    padding: 7px;

    .name {
      width: 80%;
      font-size: 18px;
      font-weight: 400;
      box-sizing: border-box;
      display: inline-block;
    }

    .more {

      clear: both;

      .address {
        line-height: 17px;
        height: 36px;
        display: inline-block;
      }

      .followed-by {

        line-height: 30px;

        img {
          width: 30px;
          margin: 3px;
          border-radius: 20px;
        }

      }

      .more-following {
        display: inline-block;
        float: right;
      }

    }

  }

}