@import '_custom_vars';

.restaurant-item {

  position: relative;
  width: 100%;

  .photo {

    height: 200px;
    overflow: hidden;

    img {
      width: 100%;
    }

    .get-there-button {
      background: white;
      color: $base-color;
      border: 1px solid $base-color;
      font-size: 18px;
      font-weight: 400;
      margin: 15px;
      padding: 7px 15px;
      border-radius: 3px;
      position: absolute;
      top: 0px;
      right: 0px;
      cursor: pointer;
    }

    .follow-button {
      background: $base-color;
      color: white;
      border: 1px solid white;
      font-size: 18px;
      font-weight: 400;
      margin: 15px;
      padding: 7px 15px;
      border-radius: $radius;
      position: absolute;
      top: 0px;
      right: 0px;
      cursor: pointer;
    }

    .follow-button::after {
      content: 'Follow';
    }

    .follow-button.following {
      background: rgba(255, 255, 255, 0.8);
      color: $base-color;
      border: 1px solid $base-color;
    }

    .follow-button.following::after {
      content: 'Following';
    }

  }

  .info {

    background: white;
    padding: 7px;

    .name {
      width: 80%;
      font-size: 20px;
      font-weight: 400;
      box-sizing: border-box;
      display: inline-block;
    }

    .price-range {
      width: 20%;
      font-weight: 400;
      color: $base-color;
      text-align: right;
      display: inline-block;
      float: right;
    }

    .more {

      clear: both;

      .address {
        line-height: 17px;
        height: 36px;
        display: inline-block;
      }

      .followed-by {

        line-height: 30px;

        img {
          width: 30px;
          margin: 3px;
          border-radius: 20px;
        }

      }

      .more-following {
        display: inline-block;
      }

    }

  }

}