@import '_custom_vars';

.main-div {
  top: $nav-bar-height + $sub-nav-height;
}

.sub-nav {

  .sub-nav-item {
    width: 33.333%;
  }

}

.review {

  .star {


    display: inline-block;
    width: 15%;
    padding: 10px;
    svg {
  	height:20px;
	align: center;
	fill:#FFFFFF;	
	
    }
    background-color: rgba(0,0,0,0.5);
    border-radius:70%;

    
  }

 .star.selected {
    
    svg {
  	height:20px;
	align: center;
	fill:#000000;
	
    } 
        
  }
}

.food-container {
  position: relative;
}

#food-photo, #food-photo2 {

  img {
    width: 80%;
    height:absolute;
    
  }

  z-index: 2;

}

#food-photo2 {
  z-index: 1;
}


.info {
  padding: 7px;
  width: 100%;
  background: rgba(0,0,0,0.5);
  color: white;
  position: absolute;
  bottom: 0px;
  z-index: 3;

}




#counter span.warning{
   	color: #b66875;
}





