@import '_custom_vars';

.main-div {
  top: $nav-bar-height;
}

.app-bar {

  .app-name {
    height: $nav-bar-height;
    line-height: 30px;
  }

  .sub-name {
    font-size: 16px;
    line-height: 20px;
  }

  .back-button-container {

    display: inline-block;
    float: left;

    .fa {
      margin-left: 2px;
    }

    .logo {
      margin-left: 0px;
    }

  }

}